.banner{
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
	url(../../images/background.jpg);   
	background-size: cover;     
	background-position: center;
	height: 300px;
	padding: 100px 0px;
}
.banner h1 {
	margin: 0px;
	padding-top: 0px;
	color: white;
	font-size: 50px;
}
.banner h2 {
	color: white;
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
}